.frame38 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 36px; */

    background: #F2F2F2;
    border-radius: 16px;

    width: 511px;
    height: 101px;
}

.frame39 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 1252px;
    height: 849px;
}

.WordStyle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #6C6C6C;
}

.BorderTest {
    border-color: #aaaaee;
    border-width: 1px;
    border-style: solid; 

}