.StackingFrame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    margin-top: 3%;
}

.HeadFrame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 16px 50px;
    gap: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    width: stretch;
}

.TableHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 0px 42px;
    gap: 16px;
    width: stretch;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: rgba(255, 255, 255, 0.6);
}

.TableInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 0px 150px; */
    gap: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.6);
}

.CardFrame {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px 16px 0px 42px;
    gap: 16px;
    width: stretch;
    justify-content: space-between;
    /* height: 306px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: rgba(255, 255, 255);
}

.NumberFrame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 15px;
    gap: 32px;
}

.ButtonFrame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.CompanyFrame {
    align-items: flex-start;
    padding: 24px 32px;
    background: linear-gradient(72.16deg, #5246BA 7.21%, #5643F0 15.06%, #2ABBDC 89.89%, #73E5FF 107.68%);
    border-radius: 24px;
}

.EarnFont {
    /* blue_gridient */

    background: linear-gradient(72.16deg, #5246BA 7.21%, #5643F0 15.06%, #2ABBDC 89.89%, #73E5FF 107.68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.CardFrame2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px 16px 0px 42px;
    gap: 16px;
    width: stretch;
    justify-content: space-between;
    height: 125px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: rgba(255, 255, 255);

    background: rgba(51, 51, 51, 0.6);
    /* card_shadow */

    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7), 0px 0px 50px 16px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
}

.SpaceFrame {
    width: 11vw;
}

.Frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 18px 42px; */
    gap: 16px;
    isolation: isolate;

    background: rgba(15, 86, 86, 0.9);
    /* card_shadow */

    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7), 0px 0px 50px 16px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    width: stretch;
}

.TypeFrame {
    padding: 0px;
    gap: 16px;
    color: #FFF;
    padding: 0px 16px 0px 42px;
}